<!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />

<button type="button" class="btn btn-success btn-s" 
  (click)="uploader.uploadAll()" 
  [disabled]="!uploader.getNotUploadedItems().length" >
      Upload an Image
</button> -->

<!-- <input type="file" (change)="onFileChanged($event)"> -->

<input 
  type="file" (change)="onFileChanged($event)" 
  #fileInput>
<button (click)="fileInput.click()">Select File</button>
<button (click)="onUpload()">Upload!</button>

<div class="card" style="width: 18rem;" *ngIf="imgUrl">
  <img class="card-img-top" [(src)]="imgUrl" alt="Card image cap">
  <div class="card-body" >
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>