

<!-- <div>
    <input type="text" [(ngModel)]="name"/>
</div>

<div>{{name}}</div>
<div>{{10+23}}</div>


<button (click)="increaseTimes(name)">click</button> -->

<!-- <div style="border:1px solid black;background: green;display: inline-block;width:50%;">
        <Component1></Component1>
</div>

<div style="border:1px solid black;background: blue;display: inline-block;width:50%;">
        <Component2></Component2>
</div> -->


<h1>app component loaded</h1>
<button (click)="next()">move to component 1</button>

<router-outlet></router-outlet>
