<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-6">
        <H5>[Total Records:{{users.length}}]</H5>
    </div>
    <div class="col-lg-4 col-md-4 "></div>
    <div class="col-lg-1 col-md-1 ">
        <button class="btn btn-primary pull-right" (click)="newUser()">New User</button>
    </div>
  </div>
    
  
  <table class="table table-stripe">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>DOB</th>
      <th>User Name</th>
      <th>Avatar</th>
      <th>Operation</th>
    </thead>
    <tbody>
      <tr *ngFor="let usr of users">
        <td>{{usr.fname}}</td>
        <td>{{usr.lname}}</td>
        <td>{{usr.email}}</td>
        <td>{{usr.dob}}</td>
        <td>{{usr.userName}}</td>
        <td><div ><img class="ui avatar image" [src]="usr.proPicUrl"></div></td>
        <td> <button class="btn btn-primary" (click)="editUser(usr)">Edit</button>
          <button class="btn btn-danger" (click)="deleteUser(usr)">Delete</button><td>
      </tr>
    </tbody>
  </table>

</div>