<!-- <div class="ui inverted  menu sw-navbar" >
  <a class="item active">
    Home
  </a>
  <a class="item">
    Student
  </a>
  <a class="item">
    <div class="ui  pointing dropdown button" suiDropdown>
        <div class="text">Cources</div>
        <i class="dropdown icon"></i>
        <div class="menu" suiDropdownMenu >
          <div class="item">Hardware Networking</div>
          <div class="disabled item">Mobile Repairing</div>
          <div class="item" suiDropdown>
              <i class="dropdown icon"></i>
              Computer Languages
              <div class="menu" suiDropdownMenu>
                <div class="item" suiDropdown>
                    <i class="dropdown icon"></i>
                    Java
                    <div class="menu" suiDropdownMenu>
                        <div class="item">SCJP-J2EE</div>
                        <div class="item">OCJP-J2EE</div>
                        <div class="item">Advanced Java</div>
                    </div>
                </div>
                <div class="item" suiDropdown>
                    <i class="dropdown icon"></i>
                    .Net
                    <div class="menu" suiDropdownMenu>
                        <div class="item">C# .Net</div>
                        <div class="item">ASP .Net</div>
                        <div class="item">SWF</div>
                    </div>
                </div>
                <div class="item">C,C++</div>
              </div>
          </div>
          <div class="item">Testing</div>
          <div class="item">Frameworks</div>

        </div>
    </div>
  </a>

  <a class="item">
    Enquiry
  </a>
  <a class="item">
    About Us
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div> -->


<div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="assets/images/logo.png">
        Wihanga Edutech
      </a>
      <a href="#" class="item">Home</a>
      <a href="#" class="item">Student</a>
          <div class="ui simple dropdown item">
            Cources <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="#">Hardware Networking</a>
              <a class="item" href="#">Mobile Development</a>
              <div class="item">
                <i class="dropdown icon"></i>
                Languages
                <div class="menu">
                  <!-- <a class="item" >Java</a> -->
                  <div class="item">
                      <i class="dropdown icon"></i>
                      Languages
                      <div class="menu">
                        <a class="item" >Java</a>
                        <a class="item" href="#">.Net</a>
                        <a class="item" href="#">.JavaScript</a>
                      </div>
                    </div>
                  <a class="item" href="#">.Net</a>
                  <a class="item" href="#">.JavaScript</a>
                </div>
              </div>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
      <a href="#" class="item">Enquiry</a>
      <a href="#" class="item">Galary</a>
      <a href="#" class="item">About Us</a>

    </div>
  </div>